body {
    font-family: 'EB Garamond', serif;
    font-size: 1.05em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

svg {
    width: 100%;
    height: 100%;
}

/* Diagram */
.box {
    fill: lightgray;
    stroke: black;
    stroke-width: 2px;
    rx: 5;
}

.text {
    font-size: 20px;
    text-anchor: middle;
    pointer-events: none; /* Disable mouse */
}

path.diagram {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

.box.inactive {
    fill: lightgray !important;
    stroke-dasharray: 5, 5; /* Make dashed */
}

.topSection, .bottomSection {
    width: 60vw;
}

.topSection {
    /* height: 50%; */
    display: flex;
    padding-bottom: 1em;
    justify-content: center;
    border-bottom: 1px solid lightgray;
}

.bottomSection {
    /* height: 100%; */
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

canvas {
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

.modelEntry {
    padding-top: 1em;
    padding-bottom: 4em;
    border-bottom: 1px solid lightgray;
}

.wrapContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
    justify-items: center;
}

.wrappedItem {
    width: 100%;
    box-sizing: border-box;
}

.plot {
    height: 30vh;
    width: 100%;
    border: 1px solid black;
}

button {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}



.axis path,
.axis line {
    fill: none;
    shape-rendering: optimizeSpeed;
}
.arrow {
    fill: none;
    stroke: rgba(255, 166, 0, 0.709);
    stroke-width: 1.5px;
}
.arrowhead {
    fill: rgba(255, 166, 0, 0.709);
    stroke: none;
}


/* Responsive Design */
@media (max-width: 767px) {
    .topSection, .bottomSection {
        width: 95vw;
    }

    .topSection {
        height: unset;
    }

    .wrapContainer {
        grid-template-columns: 1fr;
    }

    .bottomSection {
        overflow-y: unset;
    }
}
